<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Stéganographie ISN - Partie web</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

    <header>
        <h1>Bienvenue sur notre site web !</h1>
        <h2>Ce site vous permettra d'encoder un texte dans une image et de le décoder via un script Python intégré dans la page.</h2>
    </header>

    <section>
        <input type = "button" id = "mybutton" value = "Encoder"/>
        <input type = "button" id = "mybutton" value = "Décoder"/>

        <div id="pict">
            <h1>Des images libres de droits de <a href="https://pixabay.com/fr/" target="_blank">Pixabay</a></h1>
            <img src="img/red.jpg">
            <img src="img/green.jpg">
            <img src="img/blue.jpg">
        </div>

        <article>
            <p>Ce site utilise le framework : Flask</p>
            <p>Les modules Python : os, shutil, tkinter et PIL.</p>
        </article>

    </section>

    <footer>
        <h3>ISN 2019-2020 Codé par BEUDOT Nohan et BRUNO Paul, 714</h3>
    </footer>





<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script>

</body>
</html>
